:root {
    --background: rgb(185, 255, 233);
    --container: rgb(0, 0, 0);
    --button: #ff9f0a;
    --screen: rgba(255, 255, 255, 0.253);
    --screen2: white;
    --del-button: #ff4d4d;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 400px;
    padding: 1.5em;
    border-radius: 30px;
    background-color: var(--container);
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.screen {
    width: 100%;
    height: 3em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    font-size: 40px;
    color: var(--screen2);
    background-color: var(--screen);
    text-align: right;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    flex: 1 0 22%;
    height: 3.2em;
    max-width: 24%;
    border-radius: 50%;
    font-size: 1.5em;
    margin: 0.2em;
    background-color: var(--button);
    color: var(--screen2);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: rgb(255, 206, 44);
}

.button:active {
    background-color: rgb(249, 255, 67);
}

#del-button {
    background-color: var(--del-button);
}

#del-button:hover {
    background-color: rgb(255, 80, 80);
}

#del-button:active {
    background-color: rgb(255, 120, 120);
}

@media (max-width: 470px) {
    .container {
        width: 90%;
        padding: 1em;
    }

    .screen {
        font-size: 35px;
        height: 3.5em;
    }

    .button {
        font-size: 1.2em;
        height: 3em;
    }
}

@media (max-width: 360px) {
    .container {
        width: 95%;
    }

    .screen {
        font-size: 30px;
        height: 3em;
    }

    .button {
        font-size: 1em;
        height: 2.5em;
    }
}